In [5]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 
from src.Data import gathering

import datetime
import pandas as pd
from pandas import DataFrame, Timestamp
import numpy as np

In [6]:
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),
                      datetime.datetime(2018, 1, 1)])
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [35]:
pd.Timestamp.now()

Timestamp('2020-03-18 15:37:49.396976')

In [36]:
df = get_total_data()

In [37]:
df.to_csv('Storage/DataCSV.csv')

In [38]:
df[:5]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
0,China,80894,+13,3237.0,11.0,69614.0,8043,2622.0,56.0
1,Italy,31506,NaN,2503.0,NaN,2941.0,26062,2060.0,521.0
2,Iran,17361,"+1,192",1135.0,147.0,5389.0,10837,NaN,207.0
3,Spain,13910,"+2,084",623.0,90.0,1081.0,12206,563.0,298.0
4,Germany,10120,+753,27.0,1.0,73.0,10020,2.0,121.0

In [39]:
df['TimeStamp'] = pd.Timestamp.now()

In [40]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,TimeStamp
0,China,80894,+13,3237.0,11.0,69614.0,8043,2622.0,56.00,2020-03-18 15:37:52.715144
1,Italy,31506,NaN,2503.0,NaN,2941.0,26062,2060.0,521.00,2020-03-18 15:37:52.715144
2,Iran,17361,"+1,192",1135.0,147.0,5389.0,10837,NaN,207.00,2020-03-18 15:37:52.715144
3,Spain,13910,"+2,084",623.0,90.0,1081.0,12206,563.0,298.00,2020-03-18 15:37:52.715144
4,Germany,10120,+753,27.0,1.0,73.0,10020,2.0,121.00,2020-03-18 15:37:52.715144
...,...,...,...,...,...,...,...,...,...,...
167,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06,2020-03-18 15:37:52.715144
168,Suriname,1,NaN,NaN,NaN,NaN,1,NaN,2.00,2020-03-18 15:37:52.715144
169,Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.90,2020-03-18 15:37:52.715144
170,Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.10,2020-03-18 15:37:52.715144
171,Total:,206900,8679,8272.0,305.0,82889.0,115739,6435.0,26.50,2020-03-18 15:37:52.715144

In [49]:
dt_data = pd.read_html('https://www.worldometers.info/coronavirus/coronavirus-death-toll/')

In [52]:
dt_data[1]

       Date  Daily Deaths  Change in Daily Change in Daily (%)
0   Mar. 17           817              175                 27%
1   Mar. 16           642              -44                 -6%
2   Mar. 15           686              282                 70%
3   Mar. 14           404              -44                -10%
4   Mar. 13           448               95                 27%
5   Mar. 12           353               21                  6%
6   Mar. 11           332               61                 23%
7   Mar. 10           271               73                 37%
8    Mar. 9           198              -30                -13%
9    Mar. 8           228              123                117%
10   Mar. 7           105               -2                 -2%
11   Mar. 6           107                5                  5%
12   Mar. 5           102               19                 23%
13   Mar. 4            83               -2                 -2%
14   Mar. 3            85               18                 27%
15   Mar. 2            67               -6                 -8%
16   Mar. 1            73               19                 35%
17  Feb. 29            54              -11                -17%
18  Feb. 28            65                7                 12%
19  Feb. 27            58               21                 57%
20  Feb. 26            37              -27                -42%
21  Feb. 25            64              -17                -21%
22  Feb. 24            81              -77                -49%
23  Feb. 23           158               58                 58%
24  Feb. 22           100              -13                -12%
25  Feb. 21           113               -8                 -7%
26  Feb. 20           121                4                  3%
27  Feb. 19           117              -19                -14%
28  Feb. 18           136               38                 39%
29  Feb. 17            98               -8                 -8%
30  Feb. 16           106              -37                -26%
31  Feb. 15           143                0                  0%
32  Feb. 14           143               21                 17%
33  Feb. 13           122              -24                -16%
34  Feb. 12           146               49                 51%
35  Feb. 11            97              -11                -10%
36  Feb. 10           108               11                 11%
37   Feb. 9            97                8                  9%
38   Feb. 8            89                3                  3%
39   Feb. 7            86               13                 18%
40   Feb. 6            73                0                  0%
41   Feb. 5            73                7                 11%
42   Feb. 4            66                2                  3%
43   Feb. 3            64                6                 10%
44   Feb. 2            58               13                 29%
45   Feb. 1            45               -1                 -2%
46  Jan. 31            46                3                  7%
47  Jan. 30            43                5                 13%
48  Jan. 29            38               12                 46%
49  Jan. 28            26                0                  0%
50  Jan. 27            26                2                  8%
51  Jan. 26            24                9                 60%
52  Jan. 25            15               -1                 -6%
53  Jan. 24            16                8                100%
54  Jan. 23             8                8                inf%